[Unit]
Description=Launch the True Colors app on port 5000 gunicorn
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/truecolors/trueColorsWebApp/.venv/bin/gunicorn \
    --chdir /home/truecolors/trueColorsWebApp \
    --workers 4 \
    --bind 127.0.0.1:5000 \
    server:app

[Install]
WantedBy=multi-user.target

